ktxview.py
KTXViewer.spec
__pycache__/
*.pyc
*.pyo
.DS_Store
.vscode/
.idea/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
.cache/
.tox/
.eggs/
dist/
build/
*.egg-info/
.env/
.venv/
env/
venv/
.envrc
.env.bak
.env.local
.env.*.local
.env.*.bak
.env.*.backup
.env.*.backup.*
.env.*.bak.*
.env.*.local.*